.appointments {
    grid-area: appointments;
    display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column nowrap;
	position: relative;
	left: 5vw;
    width: 45vw;
    border-top: 1px solid #808080;
    padding-bottom: 5vh;
}

.appointments h2 {
    text-align: center;
}

.appointments .date-heading {
    width: 100%;
}

.appointments .appointment {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1vh;
}

.appointments .appointment:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    content: '';
}

.appointments .appointment .appt-icon {
    display: inline-block;
    width: 50px;
    padding: 0 3vw;
}

.appointments .appointment .type {
    font-weight: 700;
}

.appointments .appointment .remove {
    display: none;
    position: absolute;
    right: 2vw;
    color: #e64545;
    cursor: pointer;
}

.appointments .appointment:hover .remove {
    display: block;
}

@media only screen and (max-width : 768px) {
    .appointments {
        width: 90vw;
    }

    .appointments .appointment .remove {
        display: block;
        right: 4vw;
    }
}