.calendar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "infinite-calendar time-slot";
}

.infinite-calendar {
    grid-area: infinite-calendar;
    position: relative;
    top: 5vh;
    left: 10vw;
    width: 30vw !important;
    max-height: 90vh !important;
    border-radius: 20px !important;
}

.infinite-calendar .Cal__Header__root {
    border-radius: 20px 20px 0 0;
    background-color: #A3E6D8 !important;
}

.infinite-calendar .Cal__Weekdays__root {
    background-color: #FC7137 !important;
}

.infinite-calendar .Cal__Day__selection {
    background-color: #A3E6D8 !important;
}

.infinite-calendar .Cal__Day__today {
    color: #FC7137 !important;
}

.infinite-calendar .Cal__Container__listWrapper {
    border-radius: 0 0 20px 20px;
}

.time {
    width: 200px;
}

.time .option {
    height: 40px;
    line-height: 40px;
    margin: 0;
    border: 1px solid #666;
}