.header {
	grid-area: header;
	position: relative;
	height: 80px;
	margin-bottom: 2vh;
	text-align: center;
}

.header:before {
	position: absolute;
	top: 45px;
	left: 0;
	width: 70%;
	height: 1px;
	background-color: #A3E6D8;
	content: '';
}

.header:after{
	position: absolute;
	top: 35px;
	right: 0;
	width: 70%;
	height: 1px;
	background-color: #A3E6D8;
	content: '';
}


.header h1 {
	position: relative;
	display: inline-block;
	line-height: 80px;
	margin: 0;
	padding: 0 1vw;
	color: #A3E6D8;
	background-color: #fff;
	z-index: 1;
}